body {
  background-color: #1d2739;
}
#inputBody {
  display: grid;
  gap: 1.5em;
  grid-template-columns: repeat(4, 1fr);

  padding-block: 1rem;
  margin-block: 1rem;
  width: min(25%, 50rem);
  margin-inline: auto;
}
#texBox {
  border: none;
  height: 2rem;
  background-color: #4b6382;
  color: #cdd5db;
  padding: 0.2rem 1rem;
  border-radius: 50px;
  font-size: 1rem;
}

#btn {
  background: #4b6382;
  color: #cdd5db;
  border: none;
  border-radius: 20rem;
  margin-left: -18px;
  font-size: 1.5rem;
}
.li-task {
  background: #a4b5c4;
  color: #071739;
  border-radius: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  padding-block: 1rem;
  margin-block: 1rem;
  width: min(25%, 50rem);
  margin-inline: 27rem;
}
.li-task span {
  width: 9rem;
  padding: 0 1rem;
}
.li-task button {
  background-color: #111822;
  color: #cdd5db;
  width: 4rem;
  border: none;
  border-radius: 50px;
}
.li-task input {
  border: none;
  border-radius: 50px;
  background: #a4b5c4;
  padding: 0 1rem;
  width: 9rem;
}
